---
import { Image } from 'astro:assets';
import coverImage from '../../assets/Hyperion/Hyperion.jpg';
---

<div>
  <Image
    class="project-image border border-black"
    src={coverImage}
    alt="First Project Ever!"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>