---
import { Image } from 'astro:assets';
import Limelight from '../../assets/Hyperion/limelight.jpg';
---

<div>
  <Image
    class="project-image border border-black"
    src={Limelight}
    alt="Limelight 2 Tuning"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>