---
import { Image } from 'astro:assets';
import Aoide from '../../assets/aoide/aoide.jpg';
---

<div>
  <Image
    class="project-image border border-black"
    src={Aoide}
    alt="Aoide at Competition"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>