---
import { Image } from "astro:assets";
import AoideCad from "../../assets/aoide/aoideCad.png";
---

<div>
  <Image
    class="project-image border border-black"
    src={AoideCad}
    alt="Aoide at Competition"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>