---
import { Image } from "astro:assets";
import Arm from "../../assets/aoide/arm.png";
---

<div>
  <Image
    class="project-image border border-black"
    src={Arm}
    alt="Aoide Arm!"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>