---
import { Image } from "astro:assets";
import Climber from "../../assets/aoide/climber.png";
---

<div>
  <Image
    class="project-image border border-black"
    src={Climber}
    alt="Aoide Climbers!"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>