---
import { Image } from "astro:assets";
import AlgaeIntake from "../../assets/tethys/algaeIntake.png";
---

<div>
  <Image
    class="project-image border border-black"
    src={AlgaeIntake}
    alt="Tethys Algae Intake!"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>