---
import { Image } from "astro:assets";
import CoralScoral from "../../assets/tethys/coralScoral.png";
---

<div>
  <Image
    class="project-image border border-black"
    src={CoralScoral}
    alt="Tethys Coral Scoral!"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>