---
import { Image } from "astro:assets";
import Tethys from "../../assets/tethys/tethys.JPG";
---

<div>
  <Image
    class="project-image border border-black"
    src={Tethys}
    alt="Tethys!"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>