---
import Layout from "../layouts/Layout.astro";
import HyperionImage from "../components/hyperion/Hyperion.astro";
---

<Layout title="Hyperion | George Lin">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl text-white">
      FIRST<br />
      <span class="text-gradient">Hyperion</span>
    </h1>

    <HyperionImage />

    <p class="text-white">
      <i>1-week coding project.</i>
    </p>

    <br />

    <h2 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
      Writeup Coming Soon
    </h2>

    <br />
  </div>
</Layout>

<style>
  .image-text-container {
    display: flex;
    align-items: top;
    gap: 16px; /* Adjust space between image and text */
    margin-bottom: 2rem; /* Adds spacing before the back button */
  }

  .side-image {
    flex: 1 1 auto; /* Ensures the image takes only as much space as needed */
    max-width: 400px; /* Adjust as necessary for your design */
    height: auto;
  }

  .side-text {
    flex: 2 1 auto; /* Gives the text more space */
    font-size: 1.15rem;
    color: #ccc;
  }
</style>