---
import Layout from "../layouts/Layout.astro";
import Portrait from "../components/Portrait.astro";
import Heading from "../components/Heading.astro";


// Project Components

---

<Layout title="Portfolio | George Lin">
  <div id="contents">
    <main class="container">
      <div class="mb-16 hidden md:block">
        <Heading />
        <p class="mt-4 text-lg text-zinc-400 font-light lg:text-xl">
          I'm a tinkerer, programmer, and zucklite at Vanderbilt University. 
          <br/>
          <br/>
          Say hi at <span class="underline text-gray-300">george.lin@Vanderbilt.edu</span>.
          For skills and experiences, see <a href="../public/georgelresume.pdf" rel="noopener noreferrer" target="_blank" class="underline text-gray-300">my resume</a>. 
        </p>
      </div>
      
      <!-- Mobile Only Section -->
      <div class="mobile-heading md:hidden">
        <div class="grid place-items-left text-left space-y-4">
          <a href="/">
            <span class="sr-only">Home</span>
            <Portrait />
            <p class="mt-4 text-lg text-zinc-400 font-light lg:text-xl">
              Here you'll find the details behind my projects. 
              <br />
            </p>
          </a>
        </div>
      </div>

      <h2 class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary text-white mb-2">
        Projects
      </h2>

      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
  </div>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }

  .project-image {
    max-width: 100% !important;
    overflow: hidden;
  }

  .video-wrapper {
    background: #111111;
    padding: calc(1.5rem - 1px);
    line-height: 1.4;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }

  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }

  .instructions strong {
    color: rgb(var(--accent-light));
  }

  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }

  .read-more {
    color: #fff;
  }

  details {
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    max-width: 900px;
  }

  details > div {
    max-width: 830px;
  }

  summary:hover {
    cursor: pointer;
  }
</style>

<script></script>